<div class="container">
  <!-- Some header -->
  <div class="title-box">
    <h1 class="title">mr. Finder</h1>
    <img
      class="title-img"
      src="./images/detective.png"
      alt="detective"
      width="50px"
      height="50px"
    />
  </div>
  <p class="subtitle">Find your image with mr. Finder</p>

  <!-- Search form -->
  <div class="search">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit">Search</button>
    </form>
  </div>

  <!-- Img card -->
  <div class="gallery"></div>
  <button type="button" class="load-more">Load more</button>
</div>
